.App {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/396/original/pexels-pixabay-531767.jpg?1749106171");
    background-size: contain;
    background-position: center top;
    font-family: "Montserrat", sans-serif;
  }